* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  max-width: 800px;
  width: 100%;
  padding: 0 10px;
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
}

.post-enter {
  opacity: 0;
  transform: scale(0.9);
}
.post-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.page__wrapper {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.page {
  padding: 10px;
  border: 1px solid teal;
  cursor: pointer;
}

.page--active {
  border: 1px solid lightcoral;
  font-weight: bold;
  color: lightcoral;
}

.navbar {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 15px;
  background-color: lightblue;
}

.navbar__links {
  margin: 0 auto;
}

.navbar__links a {
  font-size: 20px;
  font-weight: 500;
  color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
  background-color: rgb(13, 224, 31);
  margin-right: 10px;
}

.post__btns {
  display: flex;
  align-items: center;
}

.post__content {
  margin-right: 7px;
}

@media (max-width: 768px) {
  .post {
    flex-direction: column;
  }

  .post__content {
    margin: 0;
    margin-bottom: 10px;
  }
}
